.bodytuyendung {
  width: 96%;
  margin: 0 auto;
  text-align: center;
}

.bodytuyendung h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

/* Swiper dành riêng cho tuyển dụng */
.tuyendungSwiper {
  display: flex;
  justify-content: center; /* Căn giữa */
  align-items: center;
}

.tuyendungSwiper .swiper-wrapper {
  justify-content: center; /* Đảm bảo các slides nằm giữa */
}
.tuyendungSwiper .swiper-slide {
  flex-shrink: 0;
  width: 200px; /* Đảm bảo kích thước ảnh đồng đều */
  height: 400px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.tuyendungSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

/* Layer khi hover */
.tuyendungSwiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 15px;
}

/* Hiệu ứng hover */
.tuyendungSwiper .swiper-slide:hover img {
  transform: scale(1.1);
}

.tuyendungSwiper .swiper-slide:hover::before {
  opacity: 1;
}

/* Nút xem thêm */
.tuyendungSwiper .view-more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.tuyendungSwiper .swiper-slide:hover .view-more {
  opacity: 1;
}
